.graph{
    position: relative;
    background-color: #374750;
}
.array-bars{
    width:2px;
    background-color: #b34cf4;
    display: inline-block;
    margin: 2px;
}
.App{
    background-color: grey;
}